@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    margin: 0 auto;
    background-color: rgb(79, 223, 248);
    display: grid;
    grid-template-columns: 640px 640px;
    grid-template-rows: 459px repeat(3, 448px) 774px 134px;
    grid-template-areas: 
        "cabeca cabeca"
        "area-1 area-2"
        "area-3 area-4"
        "area-5 area-6"
        "area-7 area-8"
        "pe pe";
}

.background {
    background-image: url('/assets/desktop/Header_Background.png');
    background-position: top center;
    max-width: 100%;
    width: 1280px;
    height: 459px;
    text-align: center;
    color: white;
    grid-area: cabeca;
    align-items: center;
    justify-content: center;
}

.title1 {
    grid-area: cabeca;
    width: 313px;
    font-size: 46px;
    padding: 20px;
}

.parag1 {
    grid-area: cabeca;
    width: 757px;
    font-size: 16px;
}

.btn1 {
    background-color: white;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px;
}

.btn2 {
    background-color: black;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    padding: 10px;    
}